<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyy-MM-dd'T'HH:mm:ss.SSS} | %-10.10t | %-20.20c{1} | %-6p - %m %n</pattern>
        </encoder>
    </appender>

    <logger name="oracle" level="TRACE"/>
    <logger name="org.apache.commons" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.event" level="INFO"/>
    <logger name="org.hibernate.persister" level="INFO"/>
    <logger name="org.hibernate.tool" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="com.mchange.v2" level="INFO"/>
    <logger name="org.springframework.jdbc" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="net.sf.ehcache" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
