<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    
    <display-name>JSP Book web.xml</display-name>
    <description>This web app is used to house all of the content of the
        jspbook web app in.</description>
    
    <!-- ===========================================
         ========= INITIAL CONTEXT FOR APP =========
         =========================================== -->
    <context-param>
        <param-name>AdminEmail</param-name>
        <param-value>me@suggs.org.uk</param-value>
    </context-param>
    
    <!-- ===========================================
         ================= FILTERS =================
         =========================================== -->
    <filter>
        <filter-name>HelloWorldFilter</filter-name>
        <filter-class>
            org.suggs.sandbox_webapps.filters.basic.HelloWorldFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LinkTrackerFilter</filter-name>
        <filter-class>
            org.suggs.sandbox_webapps.filters.linktracker.LinkTrackerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuditFilter</filter-name>
        <filter-class>
            org.suggs.sandbox_webapps.filters.wrapper.AuditFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GzipFilter</filter-name>
        <filter-class>
            org.suggs.sandbox_webapps.filters.compression.GzipFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>
            org.suggs.sandbox_webapps.filters.cache.CacheFilter</filter-class>
        <init-param>
            <param-name>cacheTimeout</param-name>
            <param-value>1</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>ControlFilter</filter-name>
        <filter-class>
            org.suggs.sandbox_webapps.designpatterns.model2.filter.ControlFilter</filter-class>
    </filter>
    
    <!-- ===========================================
         ============= FILTER MAPPING ==============
         =========================================== -->
    <filter-mapping>
        <filter-name>HelloWorldFilter</filter-name>
        <url-pattern>/HelloWorldFilter</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LinkTrackerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuditFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GzipFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/staticcontent/jsp/filters/timeMonger.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ControlFilter</filter-name>
        <url-pattern>/staticcontent/jsp/designpatterns/model2/*</url-pattern>
    </filter-mapping>
    
    <!-- ===========================================
         ================ LISTENERS ================
         =========================================== -->
    <listener>
        <listener-class>
            org.suggs.sandbox_webapps.logging.logger.SiteLogger</listener-class>
    </listener>
    
    <!-- ===========================================    
         ================= SERVLETS ================    
         =========================================== -->
    <servlet>
        <servlet-name>DynamicImage</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.image.DynamicImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.showrequestheaders.ShowRequestHeaders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFormParameters</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.showformparameters.ShowFormParameters</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowForm</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.fileupload.ShowForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.fileupload.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallingServlet</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.linkedservlets.CallingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalledServlet</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.linkedservlets.CalledServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MockError</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.servletcontext.MockErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAppSource</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.showsource.ShowWebAppSource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.errorpage.ErrorPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompressionTest</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.servlets.compressiontest.CompressionTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCookies</servlet-name>
        <servlet-class>
            org.suggs.sandbox_webapps.sessionstate.EditCookies</servlet-class>
    </servlet>
    
    <!-- ===========================================    
         ============= SERVLET MAPPING =============    
         =========================================== -->
    <servlet-mapping>
        <servlet-name>DynamicImage</servlet-name>
        <url-pattern>/DynamicImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <url-pattern>/ShowRequestHeaders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFormParameters</servlet-name>
        <url-pattern>/ShowFormParameters</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowForm</servlet-name>
        <url-pattern>/ShowForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallingServlet</servlet-name>
        <url-pattern>/CallingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalledServlet</servlet-name>
        <url-pattern>/CalledServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MockError</servlet-name>
        <url-pattern>/MockError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAppSource</servlet-name>
        <url-pattern>/ShowAppSource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompressionTest</servlet-name>
        <url-pattern>/CompressionTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCookies</servlet-name>
        <url-pattern>/EditCookies</url-pattern>
    </servlet-mapping>
    
    <!-- ===========================================    
         =============== ERROR PAGES ===============    
         =========================================== -->
    <!-- Error codes -->
    <error-page>
        <error-code>404</error-code>
        <location>
            /staticcontent/jsp/exceptions/fileNotFoundErrorPage.jsp</location>
    </error-page>
    
    <!-- Exceptions caught -->
    <error-page>
        <exception-type>java.lang.IllegalArgumentException</exception-type>
        <location>/staticcontent/jsp/exceptions/errorPage.jsp</location>
    </error-page>
    
   
    <!-- ===========================================    
         ================= SECURITY ================    
         =========================================== -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecuredBookSite</web-resource-name>
            <url-pattern>/staticcontent/jsp/security/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>jspbook-reader</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <!-- ===========================================    
         ================== LOGINS =================    
         =========================================== -->
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>
                /staticcontent/jsp/security/login.jsp</form-login-page>
            <form-error-page>
                /staticcontent/jsp/security/loginError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    
</web-app>

