BODY {
    font-family: tahoma;
    font-size: 10pt;
    background-color: lightblue;
    color: navy;
}

TABLE {
    border: 1px solid black;
    font-family: tahoma;
    font-size: 10pt;
}